<!DOCTYPE html>
<html lang="en">
<!-- BOOTSTRAP STUDIOS WAS USED -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>partial-protect-system</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body style="background: rgb(203,203,203);">
    <nav class="navbar navbar-light navbar-expand-md" style="background: #ffffff;">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="color: rgba(0,0,0,0.9);">Partial Protect</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="https://github.com/HamzLDN/Partial-Protect">GITHUB</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://tiktok.com/@h1_dev">TIKTOK</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://parti.al">My Website</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header style="padding: 40px;">
        <h1>PARTIAL DASHBOARD</h1>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6">
                <h3 class="text-dark mb-4">Observing main site</h3>
            </div>
            <div class="col-12 col-sm-6 col-md-6 text-end" style="margin-bottom: 30px;">
                <a class="btn btn-primary" role="button" onclick=settings()>
                    <i class="fa fa-plus" ></i>&nbsp;SETTINGS
                </a>
                <div id="settings" class="settings-menu">
                    
                    <form method="post" action="/settings" id="optionsForm">
                      <h3>Server Configuration</h3>
                    <label style="font-size: 14px; color: white;">
                        
                        <input type="hidden" name="freeze_site" value="0">
                        <input type="checkbox" name="freeze_site" value="1" <%= locals.freeze_site == 1 ? 'checked' : '' %> />
                        FREEZE MAIN WEBSITE
                    </label>
                    <br>
                    <br>
                    <h3>WEB SECURITY</h3>

                    <label style="font-size: 14px; color: white;">
                        
                        <input type="hidden" name="csrf_protection" value="0">
                        <input type="checkbox" name="csrf_protection" value="1" <%= locals.csrf_protection == 1 ? 'checked' : '' %> />
                        CSRF PROTECTION
                    </label>
                    </br>
                    <label style="font-size: 14px; color: white;">
                        
                        <input type="hidden" name="block_xss" value="0">
                        <input type="checkbox" name="block_xss" value="1" <%= locals.block_xss == 1 ? 'checked' : '' %> />
                    BLOCK XSS
                    </label>
                    </br>
                    </br>
                    <h3>Rate Limiting</h3>
                      <label style="font-size: 14px; color: white;">
                        
                        <input type="number" name="rate-limit" style="width: 50px;" value="<%= locals['rate-limit'] %>">
                        RPM (REQUESTS PER MINUTE)
                      </label>
                    </br>
                      <label style="font-size: 14px; color: white;">
                        <input type="number" name="timeout" style="width: 50px;" value="<%= locals['timeout'] %>">
                        REQUEST TIMEOUT (MINUTE)
                      </label>
                      <label style="font-size: 14px; color: white;">
                        <a href='/download-logs'>
                            <div class="btn btn-primary" style="position: absolute; bottom: 2%; height: 40px; float: right;">
                                <p style="color:#ffffff; text-decoration: none; position: relative;">Download Logs</p>
                            </div>                             
                        </a>
                    </label>
                      <button type="submit" class="submit-btn btn btn-primary">Submit</button>
                    </form>
                  </div>                  
            </div>
            <form action="/permissions/whitelist-ip" method="post">
                <input type="text" name="filtered_ip" placeholder="WHITELIST IP" required>
                <button type="submit">SUBMIT</button>
            </form>
            <form action="/permissions/blacklist-ip" method="post">
                <input type="text" name="filtered_ip" placeholder="BLACKLIST IP" required>
                <button type="submit">SUBMIT</button>
            </form>
            
        </div>
    </br>
        FILTER TABLE VIA KEYWORDS <input type="text" id="filter-input" placeholder="FILTER KEYWORD" />
        <div class="card" id="TableSorterCard">
            <div class="card-header py-3">
                <div class="row table-topper align-items-center">
                    <div class="col-12 col-sm-5 col-md-6 text-start" style="margin: 0px;padding: 5px 15px;">
                        <p class="text-primary m-0 fw-bold">View HTTP Traffic</p>
                    </div>
                    <div class="col-12 col-sm-7 col-md-6 text-end" style="margin: 0px;padding: 5px 15px;"><button class="btn btn-primary btn-sm reset" type="button" style="margin: 2px;">Filter</button><button class="btn btn-warning btn-sm" id="zoom_in" type="button" zoomclick="ChangeZoomLevel(-10);" style="margin: 2px;">
                        <i class="fa fa-search-plus"></i>
                    </button><button class="btn btn-warning btn-sm" id="zoom_out" type="button" zoomclick="ChangeZoomLevel(-10);" style="margin: 2px;"><i class="fa fa-search-minus"></i></button></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    
                    <div class="table-responsive">
                       
                        <table class="table table-striped table tablesorter" id="ipi-table">
                            
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center">IP ADDRESS</th>
                                    <th class="text-center">METHOD</th>
                                    <th class="text-center">ENDPOINT</th>
                                    <th class="text-center">BODY</th>
                                    <th class="text-center">XSS DETECTION</th>
                                    <th class="text-center filter-false sorter-false">Setting</th>
                                </tr>
                            </thead>
                            <tbody class="text-center" id="log-table-body">
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay" style="display:none;">
        <button class='btn-off' onclick="overlay_off()">X</button>
        <pre id="text"></pre>
      </div>
      
    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/js/socket.js"></script>
    <script src="assets/js/table.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20-Ludens---1-Index-Table-with-Search--Sort-Filters.js"></script>
</body>

</html>